.vscode

CS1200/RPG_InventoryBase/obj
CS1200/RPG_InventoryBase/bin

CS1200/LockerRental/obj
CS1200/LockerRental/bin

CS1200/Atlas.RPG/Atlas.RPG.Items/bin
CS1200/Atlas.RPG/Atlas.RPG.Items/obj

CS1200/Atlas.RPG/Atlas.RPG.UI/bin
CS1200/Atlas.RPG/Atlas.RPG.UI/obj

